





.root {
    -fx-company-black: #000000;

    /*Symbol, icons, buttons, link texts */
    -fx-company-belmanblue: #004b88;

    /*probably redundant */
    -fx-company-belmanlightblue: #7fa8c5;

    /*brochures, catalogues, all rights reserved */
    -fx-company-belmandarkgrey: #333535;

    /*some icons, mouse-over (website), 3rd party logos, info boxes in brochures */
    -fx-company-belman50grey: #9d9d9d;

    /*table body, boxes, info boxes, CTA button on some pages */
    -fx-company-belman20grey: #dadada;

    /*background color for boxes with images, boxes in email marketing, info boxes in catalogues */
    -fx-company-belman15grey: #e3e3e3;

    /*info boxes website, background colour website, background color images/illustrations/text boxes in brochures/website */
    -fx-company-belman07grey: #f2f2f2;
}

.buttons {
    -fx-background-color: -fx-company-belmanblue;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-color: -fx-company-belmandarkgrey;
    -fx-border-width: 1px;
}

.buttons:hover {
    -fx-background-color: -fx-company-belmanlightblue;
}

.logo-image {
    -fx-effect: null;
}

.order-table .table-cell {
    -fx-font-size: 32px;
    -fx-padding: 5 10 5 10;
}

/*.order-table .column-header .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}*/


/*.order-table .table-row-cell:selected {
    -fx-background-color: -fx-company-belmanblue;
    -fx-text-fill: white;
}*/

.logo-image:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-company-belmanblue, 15, 0.3, 0, 0);
    -fx-opacity: 1.0;
}

.anchors {
    -fx-background-color: -fx-company-belman07grey;
    -fx-border-color: -fx-company-belman15grey;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.tables {
    -fx-background-color: -fx-company-belman15grey;
    -fx-border-color: -fx-company-belmandarkgrey;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.textfields {
    -fx-border-color: -fx-company-belmanblue;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.mockborders {
    -fx-background-color: -fx-company-belman15grey;
    -fx-border-color: -fx-company-belmandarkgrey;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.barborder {
    -fx-border-color: -fx-company-black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}
.imagebutton {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}
.imagebutton:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-company-belmanblue, 15, 0.3, 0, 0);
}

#cameraBottemHbox {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.imgPreview {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.iconButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8;
    -fx-cursor: hand;
}

.previewButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8;
    -fx-cursor: hand;
}
.menu-item {
    -fx-font-size: 22px;
}
.menu-button .text {
    -fx-font-size: 24px;
}